.btn-create
    margin-top: 5px

    
.ant-btn-primary
    background: #6FB336


p
    font-size: 16px


h1     
    font-size: 16px * 2.56
    box-sizing: border-box
    margin: 0


.ant-back-top-inner
    width: 100px
    text-align: center
    font-size: 18px
    font-weight: 500
    background: #6FB336
    padding-left: 20px
    padding-right: 20px
    padding-top: 5px
    padding-bottom: 5px